.container {
  width: 90%;
  padding: 10px;
  height: 85vh;
  background-color: aqua;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}

.num {
  background-color: deeppink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  min-width: 300px;
  min-height: 100px;
  background-color: red;
  width: 90%;
  margin: auto;
  padding: 10px;
}
